fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
requests
evaluate
scikit-learn
numpy
pandas
jinja2
reportlab
PyMuPDF
pytesseract
Pillow
psutil
gpustat
GPUtil
pynvml
torch
huggingface_hub
transformers
